<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.3/cdn.min.js" defer></script>
    <%- include('styles') %>
</head>
<body class="bg-gray-100">
<div class="bg-red-100 p-2 text-center text-red-700 font-bold">
    For discussion purposes only!
</div>
<%- include('header') %>
<%- include(content) %>
</body>
</html>